<h1>{{title}}</h1>

<form [formGroup]="datosCandForm">
  <div class="input-container">
    <div class="select-container" [ngClass]="{'error': !datosCandForm.controls['fuente'].valid && datosCandForm.controls['fuente'].touched}">Fuente de Captacion
      <select formControlName="fuente" id="fuente" (change)="onChangeMsj($event)">
        <option value="" disabled selected>Seleccione una opción</option>
        <option *ngFor="let item of fuentesCaptacion" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <div class="select-container" [ngClass]="{'error': !datosCandForm.controls['reclutador'].valid && datosCandForm.controls['reclutador'].touched}">Reclutador
      <select formControlName="reclutador" id="reclutador">
        <option value="" disabled selected>Seleccione una opción</option>
        <optgroup *ngFor="let grupo of getOptGrupos()" [label]="grupo">
          <option *ngFor="let opcion of getOpciones(grupo)" [value]="opcion">{{opcion}}</option>
        </optgroup>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <label for="nombre" [ngClass]="{'error': !datosCandForm.controls['nombre'].valid && datosCandForm.controls['nombre'].touched}">Nombre completo del Candidato
      <input id="nombre" type="text" formControlName="nombre">
    </label>
    <label for="age">Edad del Candidato
      <input id="age" type="number" formControlName="edad">
    </label>
    <label for="rfc">Rfc del candidato
      <input id="rfc" type="text" formControlName="Rfc">
    </label>
    
    <fieldset class="radio-section">
      <legend>Genero</legend>
      <div>
        <input type="radio" id="masculino" name="genero" value="Masculino" formControlName="genero">
        <label for="masculino">Masculino</label>
      </div>
      <div>
        <input type="radio" id="femenino" name="genero" value="Femenino" formControlName="genero">
        <label for="femenino">Femenino</label>
      </div>
    </fieldset>

    <div class="select-container">Escolaridad
      <select formControlName="escolaridad" id="escolaridad">
        <option value="" disabled selected>Seleccione una opción</option>
        <option *ngFor="let item of escolaridadList" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <label for="telefono">Telefono de contacto (Solo numeros)
      <input id="telefono" type="tel" formControlName="telefono">
    </label>
    
    <div class="select-container">Puesto Solicitado
      <select formControlName="puestoSolicitado" id="puesto">
        <option value="" disabled selected>Seleccione una opción</option>
        <option *ngFor="let item of vacantes" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
  </div>
</form>
