<h1>{{title}}</h1>

<form [formGroup]="entrevistaForm">
  <div class="input-container">

    <fieldset class="radio-section">
      <legend>Cita para Entrevista</legend>
      <div>
        <input type="radio" id="si" formControlName="citaEntrevista" [value]="true">
        <label for="si">Si</label>
      </div>
      <div>
        <input type="radio" id="no" formControlName="citaEntrevista" [value]="false">
        <label for="no">No</label>
      </div>
    </fieldset>

    <div class="select-container">
      <label for="fechaErEntrevista" class="labelPicker">Fecha Primer Entrevista</label>
      <div class="datePickerContainer">
        <input id="fechaErEntrevista" type="text" matInput [matDatepicker]="pickerErEntrevista" formControlName="fechaPrimerEntrevista">
        <mat-datepicker-toggle matSuffix [for]="pickerErEntrevista"></mat-datepicker-toggle>
        <mat-datepicker #pickerErEntrevista></mat-datepicker>
      </div>
    </div>

    <div class="select-container">Tipo de Candidato
      <select id="candidato" formControlName="tipoCandidato">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('tipoCandidato')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <div class="select-container">Tipo de Entrevista
      <select id="entrevista" formControlName="tipoEntrevista">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('tipoEntrevista')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <div class="select-container">Estatus Primera Entrevista
      <select id="primerEntrevista" formControlName="estatusPrimerEntrevista">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('estatusEntrevista')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
    
    <label for="supervisor">Nombre completo del Supervisor
      <input id="supervisor" type="text" formControlName="nombreSupervisor">
    </label>
    
    <div class="select-container">Estatus Segunda Entrevista
      <select id="segundaEntrevista" formControlName="estatusSegundaEntrevista">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('estatusEntrevista')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
    
    <div class="select-container">Validacion del Sindicato
      <select id="sindicato" formControlName="validacionSindicato">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('validacionSindicato')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
  </div>

</form>
