<div class="avance">
    <div *ngFor="let sect of sectionsForm; let i = index">
        <span [ngClass]="[sect.checked ? 'selected' : '']" (click)="goToSection(i)">{{i + 1}}</span>
        {{sect.title}}
    </div>
</div>
<div *ngIf="showPopUp" class="guardadoView" @fadeInOutEase>
    <p>Guardado</p>
    <i class="fas fa-check"></i>
</div>
{{currentSection()}}
<div *ngIf="currentPart === 1" class="container" @fadeInOut>
    <app-region [data]="sectionsForm[0].dataComp"></app-region>
</div>

<div *ngIf="currentPart === 2" class="container" @fadeInOut>
    <app-datos-candidato [data]="sectionsForm[1].dataComp"></app-datos-candidato>
</div>

<div *ngIf="currentPart === 3" class="container" @fadeInOut>
    <app-primer-contacto [data]="sectionsForm[2].dataComp"></app-primer-contacto>
</div>

<div class="buttons-container">
    <button *ngIf="currentPart > 1" (click) = "btnPrev()" @fadeInOut>Anterior</button>
    <button class="guardar" (click) = "saveCurrentSection()" @fadeInOut>Guardar</button>
    <button *ngIf="currentPart === 7" class="enviar" @fadeInOut>Enviar</button>
    <button *ngIf="currentPart < 7" (click) = "btnNext()" @fadeInOut>Siguiente</button>
</div>