<div class="avance">
    <div>
        <span >1</span>
        Resumen
    </div>
    <div>
        <span class="selected">2</span>
        Infraestructura
    </div>
    <div>
        <span>3</span>
        Colaboracion
    </div>
    <div>
        <span>4</span>
        Data center
    </div>
    <div>
        <span>5</span>
        Ciberseguridad
    </div>
    <div>
        <span>6</span>
        Seguridad fisica
    </div>
    <div>
        <span>7</span>
        Inteligencia Artificial
    </div>
    <div>
        <span>8</span>
        Facturacion Total
    </div>
</div>
<div *ngIf="currentPart === 1" class="container">
    <h1>Resumen</h1>
    <div class="input-container">
        <label for="general">Resumen General de la cuenta
            <input id="general" formcControlName="resumen" type="text" placeholder="Escriba aqui">
        </label>
    
        <label for="website">Sitio web
            <input id="website" formcControlName="resumen" type="text">
        </label>
    
        <label for="sector">Sector/Segmento
            <input id="sector" formcControlName="resumen" type="text">
        </label>
    
        <label for="tamano">Tamaño
            <input id="tamano" formcControlName="resumen" type="number">
        </label>
    
        <label for="actual">Presuspuesto del cliente año actual
            <input id="actual" formcControlName="resumen" type="number">
        </label>
    
        <label for="anterior">Presupuesto del cliento año anterior
            <input id="anterior" formcControlName="resumen" type="number">
        </label>
    
        <label for="presIT">Presupuesto asignado a TI
            <input id="presIT" formcControlName="resumen" type="number">
        </label>
    
        <label for="retos">Retos para el 2024
            <input id="retos" formcControlName="resumen" type="text">
        </label>
    
        <button *ngIf="currentPart > 1">Anterior</button>
        <button>Siguiente</button>
    </div>
</div>

<div *ngIf="currentPart === 2" class="container">
    <h1>Infraestructura</h1>
    <div class="input-container">
        <fieldset class="radio-section">
            <legend>Se le presento al cliente</legend>
            <div>
                <input type="radio" id="cliente" name="cliente" value="true">
                <label for="cliente">Si</label>
            </div>
            <div>
                <input type="radio" id="cliente" name="cliente" value="false">
                <label for="cliente">No</label>
            </div>
        </fieldset>
    
        <label for="website">Sitio web
            <input id="website" formcControlName="Infraestructura" type="text">
        </label>
    
        <label for="sector">Sector/Segmento
            <input id="sector" formcControlName="Infraestructura" type="text">
        </label>
    
        <label for="tamano">Tamaño
            <input id="tamano" formcControlName="Infraestructura" type="number">
        </label>
    
        <label for="actual">Presuspuesto del cliente año actual
            <input id="actual" formcControlName="Infraestructura" type="number">
        </label>
    
        <label for="anterior">Presupuesto del cliento año anterior
            <input id="anterior" formcControlName="Infraestructura" type="number">
        </label>
    
        <label for="presIT">Presupuesto asignado a TI
            <input id="presIT" formcControlName="Infraestructura" type="number">
        </label>
    
        <label for="retos">Retos para el 2024
            <input id="retos" formcControlName="Infraestructura" type="text">
        </label>
    
        <button *ngIf="currentPart > 1">Anterior</button>
        <button>Siguiente</button>
    </div>
</div>