<div @fadeInOut>
    <h1 class="title">{{title}}</h1>
</div>
<div class="contentContainer" @fadeInOut>
    <h2>Candidatos registrados</h2>
    <table *ngIf="candidatosList.length !== 0" class="table">
        <tr class="titles">
            <th>Nombre</th>
            <th>Progreso</th>
            <th>Estatus</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let cand of candidatosList; let i = index">
            <td>{{cand.nombre}}</td>
            <td>Progreso</td>
            <td>{{cand.estatusGeneral}}</td>
            <td class="buttonContainer">
                <button class="edit"><i class="fas fa-pen"></i></button>
                <button class="delete" (click)="eliminarRegistro(i)"><i class="fas fa-trash-alt"></i></button>
                <button class="excel"><i class="fas fa-file-excel"></i></button>
            </td>
        </tr>
    </table>
    <div class="optWrapper" *ngIf="candidatosList.length === 0">
        <p>Aun no hay registros!</p>
        <button (click)="goToRegistro()" class="agregar">
            <span>Agregar nuevo candidato</span><i class="fas fa-plus"></i>
        </button>
    </div>
</div>