<div>
    <h1 class="title">{{title}}</h1>
</div>
<div class="contentContainer">
    <h2>Candidatos registrados</h2>
    <table *ngIf="candidatosList[0] !== null">
        <tr>
            <th>Nombre</th>
            <th>Progreso</th>
            <th>Estatus</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let cand of candidatosList; let i = index">
            <td>{{cand.datosCandidato?.nombre}}</td>
            <td>Progreso</td>
            <td>Estatus</td>
            <td>
                <button>Editar</button>
                <button>Eliminar</button>
            </td>
        </tr>
    </table>
    <div class="optWrapper" *ngIf="candidatosList[0] === null">
        <p>Aun no hay registros!</p>
        <button (click)="goToRegistro()" class="agregar">
            <span>Agregar nuevo candidato</span><i class="fas fa-plus"></i>
        </button>
    </div>
</div>