<div @fadeInOut>
    <h1 class="title">{{title}}</h1>
</div>
<div class="contentContainer" @fadeInOut>
    <h2>Candidatos registrados</h2>
    <table *ngIf="candidatosList.length !== 0" class="table">
        <thead>
            <tr class="titles">
                <th>{{columnNames[0]}}</th>
                <th>{{columnNames[1]}}</th>
                <th>{{columnNames[2]}}</th>
                <th>{{columnNames[3]}}</th>
                <th>{{columnNames[4]}}</th>
                <th>{{columnNames[5]}}</th>
                <th>{{columnNames[6]}}</th>
                <th>{{columnNames[7]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cand of tableData; let i = index" class="dataRow">
                <td>{{cand.Id}}</td>
                <td>{{cand.Nombre}}</td>
                <td>{{cand.Region}}</td>
                <td>{{cand.Sistema}}</td>
                <td>{{cand.Reclutador}}</td>
                <td>{{cand.Progreso}}</td>
                <td>{{cand.Estatus}}</td>
                <td class="buttonContainer">
                    <div class="buttonWrapper">
                        <button class="edit" (click)="editarRegistro(cand.Id)"><i class="fas fa-pen"></i></button>
                        <button class="delete" (click)="eliminarRegistro(i)"><i class="fas fa-trash-alt"></i></button>
                        <button class="excel"><i class="fas fa-file-excel"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="optWrapper" *ngIf="candidatosList.length === 0">
        <p>Aun no hay registros!</p>
        <button (click)="goToRegistro()" class="agregar">
            <span>Agregar nuevo candidato</span><i class="fas fa-plus"></i>
        </button>
    </div>
</div>