<h1>{{title}}</h1>
    <div class="input-container">
        <div class="select-container">Region
            <select name="dropRegion" id="region" [(ngModel)]="data.region" (change)="onRegionChange($event)">
                <option value="" disabled [selected]="true">Seleccione una opcion</option>
                <option *ngFor="let item of regionList" [value]="item.region">{{item.region}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    
        <div class="select-container">Sistema
            <select name="dropSistema" id="sistema" [(ngModel)]="data.sistema">
                <option value="" disabled [selected]="true">Seleccione una opcion</option>
                <option *ngFor="let item of regionList" [value]="item.sistema">{{item.sistema}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </div>
