<h1>{{title}}</h1>

<form [formGroup]="regionForm">
    <div class="input-container">
        <div class="select-container" [ngClass]="{'error': !regionForm.controls['region'].valid && regionForm.controls['region'].touched}">Region
            <select formControlName="region" id="region" (change)="onRegionChange($event)">
                <option value="" disabled [selected]="true">Seleccione una opcion</option>
                <option *ngFor="let item of regionList" [value]="item.region">{{item.region}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    
        <div class="select-container" [ngClass]="{'error': !regionForm.controls['sistema'].valid && regionForm.controls['sistema'].touched}">Sistema
            <select formControlName="sistema" id="sistema">
                <option value="" disabled [selected]="true">Seleccione una opcion</option>
                <option *ngFor="let item of regionList" [value]="item.sistema">{{item.sistema}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </div>
</form>
