.container{
    width: 100%;
}
.input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
            
.input-container label{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    width: 48%;
    font-weight: 500;
}
.input-container label input{
    border: none;
    box-shadow: 1px 1px 1px #ECECEC;
    padding: 18px;
    border-radius: 2px;
    transition: 0.5s;
}
.input-container label input:focus-visible{
    outline: none;
    box-shadow: 0 0 2px 2px #D3D3D3;
    transition-duration: .4s;
}