<h1>Resumen</h1>
    <div class="input-container">
        <label for="general">Resumen General de la cuenta
            <input id="general" formcControlName="resumen" type="text" placeholder="Escriba aqui">
        </label>
    
        <label for="website">Sitio web
            <input id="website" formcControlName="resumen" type="text">
        </label>
    
        <label for="sector">Sector/Segmento
            <input id="sector" formcControlName="resumen" type="text">
        </label>
    
        <label for="tamano">Tamaño
            <input id="tamano" formcControlName="resumen" type="number">
        </label>
    
        <label for="actual">Presuspuesto del cliente año actual
            <input id="actual" formcControlName="resumen" type="number">
        </label>
    
        <label for="anterior">Presupuesto del cliento año anterior
            <input id="anterior" formcControlName="resumen" type="number">
        </label>
    
        <label for="presIT">Presupuesto asignado a TI
            <input id="presIT" formcControlName="resumen" type="number">
        </label>
    
        <label for="retos">Retos para el 2024
            <input id="retos" formcControlName="resumen" type="text">
        </label>
    </div>
