<h1>{{title}}</h1>
    <div class="input-container">
        <label for="tam">TAM
            <input id="tam" type="number" [(ngModel)]="this.data.TAM">
        </label>
        
        <label for="red">Infraestructura de red
            <input id="red" type="number" [(ngModel)]="this.data.InfraRed">
        </label>
        
        <label for="colaboracion">Colaboracion
            <input id="colaboracion" type="number" [(ngModel)]="this.data.Colaboracion">
        </label>
        
        <label for="catacenter">Data Center
            <input id="catacenter" type="number" [(ngModel)]="this.data.DataCenter">
        </label>
        
        <label for="ciberseguridad">Ciberseguridad
            <input id="ciberseguridad" type="number" [(ngModel)]="this.data.Ciberseguridad">
        </label>
        
        <label for="seguridad">Seguridad Fisica
            <input id="seguridad" type="number" [(ngModel)]="this.data.SeguridadFisica">
        </label>
        
        <label for="ia">Inteligencia Artificial
            <input id="ia" type="number" [(ngModel)]="this.data.IA">
        </label>
        <fieldset class="radio-section">
            <legend>Soluciones fuera del portafolio?</legend>
            <div>
                <input type="radio" id="solucionSi" name="solucion" [value]="true" [(ngModel)]="this.data.SolucionesPortafolio">
                <label for="solucionSI">Si</label>
            </div>
            <div>
                <input type="radio" id="solucionNo" name="solucion" [value]="false" [(ngModel)]="this.data.SolucionesPortafolio">
                <label for="solucionNo">No</label>
            </div>
        </fieldset>

        <table class="table">
            <tr>
                <td>
                    <label for="servicio">
                        <input id="servicio" name="servicio" type="text" [(ngModel)]="serviceData.servicio" placeholder="Servicio">
                    </label>
                </td>
                <td>
                    <label for="inversion">
                        <input id="inversion" name="inversion" type="number" [(ngModel)]="serviceData.inversion" placeholder="Inversion">
                    </label>
                </td>
                <td>
                    <button class="agregar" (click)="saveService()">Agregar</button>
                </td>
            </tr>
            <tr class="titles">
                <td>Servicio</td>
                <td>Inversion</td>
                <td>Opciones</td>
            </tr>
            <tr *ngFor="let servicio of serviceList; let i = index"  @fadeInOut>
                <td>{{servicio.servicio}}</td>
                <td>${{servicio.inversion}}</td>
                <td>
                    <button (click)="deleteService(i)">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
